<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen,projection" />

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <style>
        body {
            background-image: url(./img/unnamed.jpg);
            background-size: cover;
            background-position: center;
            /* background-repeat: no-repeat; */
        }       
        .login {
            margin-top: 120px;
            /* margin-left: 20px; */
        }

        .login .card {
            background: rgba(0, 0, 0, .6);
        }
        
        p {
            color: red;
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}
    </style>
</head>

<body>
   
    <div class="vaqt">
        <p id="demo"></p>

        <script>
            // Set the date we're counting down to
            var daqiqa = 1000 * 20 
            var countDownDate = new Date(Date.now() + daqiqa).getTime();

            // Update the count down every 1 second
            var x = setInterval(function () {

                // Get today's date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                // Time calculations for  minutes and seconds

                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Output the result in an element with id="demo"
                document.getElementById("demo").innerHTML = minutes + ": " + seconds + "s ";

                // If the count down is over, write some text 
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("demo").innerHTML = "Vaqt tugadi";
                }
            }, 1000);
        </script>
    </div>

    <div class="row login">
        <div class="col s12 l4 offset-l4">
            <div class="card">
                <div class="card-action blue center-align">
                    <h5> <%= message %></h5>
                    <h5> <%= name %></h5>
                </div>
                
            </div>

        </div>
    </div>
    <script type="text/javascript" src="/js/materialize.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>

</body>

</html>